@import "../../style.scss";

.exchange {
  @include themify($themes) {
    // height: 192px;
    // width: 712px;
    max-width: 800px;
    // max-width: 100%;

    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    background-color: rgb(239, 248, 240);
    color: themed("textColor");
    width: 100%;
    position: relative;

    // &::before {
    //   /* Add this pseudo-element for the vertical line */
    //   content: "";
    //   position: absolute;
    //   width: 2px; /* Adjust the width of the line as needed */
    //   background-color: rgba(0, 0, 0, 0.2);
    //   height: 100%;
    //   left: 50%; /* Position it in the center horizontally */
    //   // transform: translateX(-50%); /* Center the line */
    //   // filter: blur(2px);
    // }

    .container {
      padding: 20px;
      position: relative;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          .avatar {
            width: 45px;
            height: 45px;
            position: relative;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
          }

          .avtpet {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            right: 0;
            bottom: 0;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 600;
              font-size: 20px;
            }

            .date {
              font-size: 12px;
            }
          }
        }
      }

      .exchange-content {
        margin: 20px 0px;
        width: 100%;
        word-wrap: break-word;

        .pet-conent {
          align-items: center;
          // display: flex;
          width: 700px;

          .pet-info {
            font-size: 20px;
            margin-left: 20px;
            word-wrap: break-word; /* Add this */
            overflow-wrap: break-word; /* Add this */
            color: initial;
          }
        }

        img {
          width: 100%;
          // max-width: 700px;
          max-height: 400px;
          object-fit: cover;
          margin: 10px;
        }
      }
      .info {
        float: right;
        margin: 20px 0;
        button {
          padding: 12px 24px;
          font-size: 16px;
          color: #fff;
          background: linear-gradient(to right, #4caf50, #45a049);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background: linear-gradient(to right, #45a049, #4caf50);
          }

          &:focus {
            outline: none; /* Add focus styles as needed */
          }
        }
      }
    }
  }
}
