@import "../../style.scss";

.home {
  @include themify($themes) {
    padding: 20px 40px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }
  }
  .home-content {
    max-width: 900px; /* Adjust this value to set the desired maximum width */
    margin: 0 auto; /* Center the content horizontally within the container */
  }
}
