@import "../../style.scss";

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(193, 190, 255);

  .reset-password {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;

    .title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .form-reset {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .resetSubmit {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
    }

    .show-password-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .show-password-checkbox {
        margin: 10px 0; /* Add spacing between the checkbox and the password input */
      }
    }
  }
  .msg {
    color: #ff0000;
    margin-top: 10px;
  }
}
