.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .senderNameTooltip {
    display: none; 
    top: -30px; /* Adjust this to position the tooltip above the image */
    left: 0;
    background-color: rgba(247, 243, 243, 0.8);
    color: rgba(255, 255, 255, 0.378);
    padding: 5px;
    border-radius: 5px;
  }
  
  .messageTop:hover .senderNameTooltip {
     display: block;
  }
  

 

.message.own .messageImg{
    display: none;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}
 

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}